@font-face {
    font-family: 'Atvice';
    src: url('maxwell_regular-webfont.woff2') format('woff2'),
    url('maxwell_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#header {
    background-color: #26ade4db;
}
*{
    outline: none;
}

.brand-name {
    font-family: 'Atvice', sans-serif;
}

h3 {
    font-weight: bold;
    color: #26ade4db;
}

p:not(p.brand-description) {
    color: #626262!important;
}

a {
    border: none!important;
}

.primary {
    color: #26ade4db !important;
}

.brand-description {
    color: #fff;
}

.fab {
    font-size: 40px;
    color: #9b9b9b;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "instagram vk" "twitter reddit" "tumblr patreon" "title title" "github linkedin";
}

.title {
    grid-area: title;
}

.instagram {
    grid-area: instagram;
}

.vk {
    grid-area: vk;
}

.twitter {
    grid-area: twitter;
}

.reddit {
    grid-area: reddit;
}

.tumblr {
    grid-area: tumblr;
}

.patreon {
    grid-area: patreon;
}

.github {
    grid-area: github;
}

.linkedin {
    grid-area: linkedin;
}

.grid-item {
    display: flex;
    align-items: center;
    padding-left: 35px;
    padding-top: 20px;
    text-align: justify;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #26ade4db;
}

.sn-icon {
    margin-right: 10px;
}

.hr-link {
    font-size: 20px;
}
.links {
    padding: 10px;
}
.l {
    margin-right: 5px;
}

.feedback {
    color: #26ade4db!important;
    box-shadow: inset 0 0 0 2px #89c3db !important;
    padding-left: 5px;
    padding-right: 5px;
}